.video-recommendations {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;           
  width: 100%;
  gap: 12px;
 
}

.recommendations-link {
  width: max-content;
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid grey;
  flex-shrink: 0;
  background-color: #f2f2f2;  
  color: #0f0f0f;
  cursor: pointer;
}