.video-tag {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  top: var(--header-height);
  z-index: 99;
}

.video-tag__wrapper{
  flex:1;
  overflow:hidden;
}

.video-tag__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;   
  position: relative;        
  width: 100%;
  gap: 12px;
  border: none;
  overflow-x:auto;
  scroll-behavior: smooth;
  scrollbar-width:none;
  white-space: nowrap;
  padding: 12px 0px;
}

.video-tag__button {
  white-space: nowrap;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  flex-shrink: 0;
  color: var(--text-color);
  cursor: pointer;
}

.video-tag__arrow{
  width:36px;
  height:36px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  border: none;

}

.video-tag__arrow:hover {
  background-color: rgb(212, 203, 203);
  transition: 0.1s ease;
  background:linear-gradient(90deg, 0, 0, 0)
}

.video-tag__button.active{
  background:black;
  color:white;
}

.video-tag__container::-webkit-scrollbar {
    display: none;
  
}