@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family:"Roboto", Arial, sans-serif;
    padding-bottom: 1506px; /* Space for the fixed header */
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #e4e3e3;
  --border-color: #b8b3b3;
  --text-color: #000000;
  --header-height: 56px;
  --sidebar-width: 240px;
  --border-radius: 30px;
  --transition-speed: 0.2s;
  --hover-color: #f1f1f1;
}



